.cart-title {
    padding: 3rem 0;
}

.order-deatils {
    flex-basis: 80%;
    box-shadow: 0px 1px 5px var(--mid-gray);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.order-deatils-title {
    font-size: 1.5rem;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-gray);
}

.order-deatils-product {
    margin-top: 20px;
}

.order-deatils-product-img {
    flex-basis: 25%;
  
}

.order-deatils-product-img img {
    max-width: 100%;
}

.order-deatils-product-data {
    flex-basis: 50%;
    font-size: 1rem;
    padding: 0 1rem;
    justify-content: center;
}

.order-deatils-product-data > div:first-child {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.order-deatils-product-action {
    flex-basis: 25%;

}

.order-deatils-product-remove {
    margin-top:  1rem; 
}

.order-deatils-product-quantity > div :first-child {
    margin-bottom: 0.5rem;
}

.price-deatils {
    flex-basis: 30%;
    margin-left: 2rem;
    gap: 2rem;
    align-self: flex-start;/*overwright any thing*/
    position: sticky;
    top: 100px;
}

.price-deatils-box {
    box-shadow: 0px 1px 5px var(--mid-gray);
    border-radius: 10px;
    padding: 20px;
}

.continue-shopping-btn {
   color: aliceblue; 
}


