body {
    background-color: aqua;
}
h1 {
    color: blueviolet;
}

.grid-wrapper {
    background-color: beige;
    border: 1px solid red;

    display: grid;
    grid-template-columns: repeat(4 ,1fr);/*repeat(4 ,5rem/25%)(1fr 1fr 1fr)*/
    /*grid-column-gap: 1rem;
    grid-row-gap: 1rem;*/
    row-gap: 1rem;
    column-gap: 2rem;
    /*gap: 1rem;*/
}

.grid-wrapper> div {
    padding: 3rem;
    background-color: brown;
}

.item7 {
    grid-column: span 2;
}

.item8 {
  /*  grid-column-start: 2;
    grid-column-end: 5;*/
    grid-column: 2 /5;
}